<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" >

    <meta charset="utf-8">
    <title>Love Yourself </title>
  </head>
  <div class="row">
  <div class="col-md-8">LOVE LOVE LOVE
  <div class="col-md-4">yourself
  </div>
</div>
  <body>

  </body>
</html>
