<!DOCTYPE html>
<html>
<body>


<h1>Have you taken care of your basic physical needs?(food/drink/hygiene)
</h1>
<form action="/results" method="post">
  <input type="radio" name="phys" value="op1"> all<br>
  <input type="radio" name="phys" value="op2"> some<br>
  <input type="radio" name="phys" value="op3"> none<br>


  <h1>Have you taken your happiness into perspective?</h1>
  <input type="radio" name="q2" value="op1"> yes<br>
  <input type="radio" name="q2" value="op2"> no<br>
  <input type="radio" name="q2" value="op3"> unsure <br>


  <h1>How has your self talk been?</h1><br>
  <input type="radio" name="q3" value="op1"> positive<br>
  <input type="radio" name="q3" value="op2"> neutral <br>
  <input type="radio" name="q3" value="op3"> negative<br>
  <input type="radio" name="q3" value="op4"> crisis<br>

  <h1>Would you describe yourself as an optimist or pessimist?</h1>
  <input type="radio" name="q4" value="op1"> optimist<br>
  <input type="radio" name="q4" value="op2"> realist<br>
  <input type="radio" name="q4" value="op3"> pessimist<br>

  <input type="submit">


</form>
</body>
</html>
