<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>loveyourself</title>
    <link rel="stylesheet" href="/css/results.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
    <div class="header"><center>make this a pretty header</center></div>
    (DISCLAIMER)The information on this site is not intended or implied to be a substitute for professional medical advice, diagnosis or treatment. All content, including text, graphics, images and information, contained on or available through this web site is for general information purposes only.
    <div class="result"><center><%=@results%></center></div>
     <div class="warning"><center>If you or someone you know is feeling suicidal or is at risk for harming themselves or others, please contact emergency services immediately</center></div><br>
     <center><h5><button type="button"><a href="http://www.teenhealthandwellness.com/static/hotlines">EMERGENCY HOTLINES</a></button></h5></center>
     <div class="row">
       <div class="col-md-6">
       <h1>Self Help Ideas</h1>
       <ul>
         <li>Take a Break</li>
          <ol>
            <li>Unplug</li>
            <li>Get moving</li>
            <li>Let yourself rest</li>
          </ol>
         <li>Treat yourself!</li>
          <ol>
            <li>Try a new recipie or order your favorite food</li>
            <li>Warm bubble baths are good for the soul</li>
            <li>Go out with friends, or have a night to yourself! Do what you need to do for you.</li>
          </ol>
          <li>Reach out</li>
            <ol>
              <li>People care about you.</li>
              <li>They want you to feel better and to help you in any way they can.</li>
              <li>Don't be afraid, they will be happy that they can help.</li>
            </ol>
       </ul>
       <div><h1>Pick-Me-Ups</h1>
       <div><a href=" ">music?</a></div><br>
       <div><a href=" ">pictures?</a></div><br>
      <div><a href=" ">video?</a></div><br>
    </div>
   </div>
     <div class="col-md-6">
       <h1>Mental health resources</h1>
       <div><a href="https://www.nimh.nih.gov/health/topics/index.shtml">NIMH (National Institute of Mental Health)</a><br>
       -Provides in-depth information on mental illnesses, current studies, and treatment</div><br>
       <div><a href="http://www.mentalhealthamerica.net/mental-health-information">MHA (Mental Health America)</a><br>
       -More information on illnesses, prevention, and the reality of life with a mental illness; Volunteer oppuritunies; Advice on managing mental illness in daily life</div><br>
       <div><a href="http://www.nami.org/#">NAMI (National Alliance on Mental Illness)</a><br>
       -Service organization; Provides education on mental illnesses; Volunteer opporitunities; Resources for those who may be struggling with a mental illness</div><br>
       <div><h1>idk yet</h1></div>
       <div><a href=" ">info</a></div><br>
       <div><a href=" ">info</a></div><br>
      <div><a href=" ">info</a></div><br>
     </div>
   </div>

   </div>
  </body>
</html>
