<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>loveyourself</title>
    <link rel="stylesheet" href="/css/results.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
    <div class="header"><center>~ Self Love ~</center></div>
    <div class="result"><center><%=@results%></center></div>
      (DISCLAIMER)The information on this site is not intended or implied to be a substitute for professional medical advice, diagnosis or treatment. All content, including text, graphics, images and information, contained on or available through this web site is for general information purposes only.
     <div class="warning"><center>If you or someone you know is feeling suicidal or is at risk for harming themselves or others, please contact emergency services immediately</center></div>
     <center><div><a href="http://www.teenhealthandwellness.com/static/hotlines"class="btn btn-danger">EMERGENCY HOTLINES</a></button></div></center><br>
     <div class="row">
       <div class="col-md-6">
       <div class="underline"><h1>Self Help Ideas</h1></div>
       <ul>
         <li>Take a Break</li>
          <ol>
            <li>Unplug</li>
            <li>Get moving</li>
            <li>Let yourself rest</li>
          </ol>
         <li>Treat yourself!</li>
          <ol>
            <li>Try a new recipie or order your favorite food</li>
            <li>Warm bubble baths are good for the soul</li>
            <li>Go out with friends, or have a night to yourself! Do what you need to do for you.</li>
          </ol>
          <li>Reach out</li>
            <ol>
              <li>People care about you.</li>
              <li>They want you to feel better and to help you in any way they can.</li>
              <li>Don't be afraid, they will be happy that they can help.</li>
            </ol>
       </ul>
       <div class="underline"><h1>Pick-Me-Ups</h1>
         <button><a  href="https://www.google.com/search?q=cute+puppies&safe=strict&rlz=1C1CHWA_enUS611US611&espv=2&biw=1366&bih=667&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjxiOLin4fOAhXK7iYKHc1VAD0Q_AUIBigB">Click for Puppies</a></button>
         <button><a  href="https://www.google.com/search?q=cute+kittens&safe=strict&rlz=1C1CHWA_enUS611US611&espv=2&biw=1366&bih=667&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjovPv5n4fOAhXMTSYKHa-VCMwQ_AUICCgB">Click for Kittens</a></button>
         <h4>Feel Good Music</h4>
         <iframe width="420" height="315"
  src="https://www.youtube.com/embed/watch?v=hT_nvWreIhg&list=PLhGO2bt0EkwvRUioaJMLxrMNhU44lRWg8">
  </iframe>
    </div>
   </div>
     <div class="col-md-6">
       <div class="underline"><h1>Mental health resources</h1></div>
       <div><a href="https://www.nimh.nih.gov/health/topics/index.shtml">NIMH (National Institute of Mental Health)</a><br>
       -Provides in-depth information on mental illnesses, current studies, and treatment</div><br>
       <div><a href="http://www.mentalhealthamerica.net/mental-health-information">MHA (Mental Health America)</a><br>
       -More information on illnesses, prevention, and the reality of life with a mental illness; Volunteer oppuritunies; Advice on managing mental illness in daily life</div><br>
       <div><a href="http://www.nami.org/#">NAMI (National Alliance on Mental Illness)</a><br>
       -Service organization; Provides education on mental illnesses; Volunteer opporitunities; Resources for those who may be struggling with a mental illness</div><br>
   </div>
   <img src="https://em.wattpad.com/cd90a4e5ce8affff50e37de2f7990bbd1384ee57/687474703a2f2f646174612e77686963646e2e636f6d2f696d616765732f33343431383931322f737461797374726f6e675f6c617267652e676966?s=fit&h=360&w=360&q=80" alt="" />
   <center><img src="http://www.clipartbest.com/cliparts/4ib/xG6/4ibxG6yig.jpeg" alt="" /></center>

   </div>
  </body>
</html>
